{% assign education_data = include.data | default: data[1] %}
<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = education_data | sort: 'startDate' | reverse %}
  {% for content in education %}
    <li class="list-group-item edu-entry" id="edu-{{ content.institution | slugify }}">
      <div class="row align-items-center">
        <!-- LEFT COLUMN: date, location, program details -->
        <div class="col-sm-10">
          {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
          {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
          {% if content.startDate %}
            <span class="badge font-weight-bold text-uppercase align-middle"> {{ startDate }} - {{ endDate }} </span>
          {% endif %}
          {% if content.location %}
            <span class="ml-3 location"> <i class="fa-solid fa-location-dot"></i> {{ content.location }} </span>
          {% endif %}

          <div class="mt-2" style="font-size: 1.2rem;">
            <span class="company-highlight">{{ content.institution }}</span>
            <span>
              - <strong>{{ content.studyType }}</strong></span
            >
          </div>

          {% if content.area %}
            <div class="mt-1" style="font-style: italic;">
              {{ content.area }}
            </div>
          {% endif %}
          {% if content.courses %}
            <ul class="items mt-1">
              {% for item in content.courses %}
                <li>
                  <span class="item">{{ item }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <!-- RIGHT COLUMN: Icon or Logo -->
        <div class="col-sm-2 text-right">
          {% if content.icon %}
            {% if content.icon contains '.png' or content.icon contains '.jpg' or content.icon contains '.jpeg' or content.icon contains '.svg' %}
              <img
                class="logo-img"
                src="{{ content.icon | prepend: 'assets/img/' | relative_url }}"
                alt="Logo for {{ content.institution }}"
              >
            {% else %}
              <!-- Font Awesome icon -->
              <i class="{{ content.icon }} fa-5x"></i>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
